.btn-grupo button {
    background-color: #15b400; 
    border: 1px solid green;
    color: white; 
    padding: 10px 24px;
    cursor: pointer; 
    float: left; 

    position: relative;
    left: 95vh;
    bottom: 5vh;
}

.btn-grupo button:not(:last-child) {
  border-right: none;
}

.btn-grupo:after {
  content: "";
  clear: both;
  display: table;
}

button:not(.alt):hover{
  background-color: #407900;
}

.add{
    background-color: #15b400; 
    border: 1px solid green;
    color: white; 
    padding: 10px 24px;
    cursor: pointer; 
}

.alt{
    border: 1px solid black;
    padding: 10px 37px;
    text-size-adjust: fixed;
    background-color: red;
    
}

img{
    position: relative;
    top: 1.5vh;

    width: 10vh;
}
header{
    margin: 0;
    padding: 0;


    font-size: 7.5vw;
    background-color: #03a2ad;

}

body{
    text-align: center;
}

.lista{
    position: relative;
    width: 50vh;
    left: 35vh;
    top: 2vh;
    border-style: double;
}

h1{
    position: relative;
    right: 35vh;
    bottom: 0.5vh;
}

div{
    position: relative;
    bottom: 8vh;
}

div.at{
    position: relative;
    bottom: 7.5vh;
}


body{
    margin: 0;
    padding: 0;
}